# Transmission настройки
TRANSMISSION_HOST=127.0.0.1
TRANSMISSION_PORT=9091
TRANSMISSION_USER=
TRANSMISSION_PASS=

# Путь к папке загрузок
DOWNLOAD_DIR=/mnt/data2/films

# Расширения для исключения (через запятую, без пробелов)
EXCLUDED_EXTENSIONS=.part,.incomplete
